LogFile=/var/log/zabbix/zabbix_server.log
LogFileSize=0
PidFile=/run/zabbix/zabbix_server.pid
DBHost={{ server_zabbix_db_host }}
DBName={{ server_zabbix_db_name }}
DBUser={{ server_zabbix_db_user }}
DBPassword={{ server_zabbix_db_password }}
ListenPort={{ server_zabbix_listen_port }}
